.mb {
    &--lg {
        margin-bottom: 2.5rem;
    }

    &--md {
        margin-bottom: 1.5rem;
    }

    &--sm {
        margin-bottom: 0.5rem;
    }
}

.mt {
    &--lg {
        margin-top: 2.5rem
    }

    &--md {
        margin-top: 1.5rem;
    }

    &--sm {
        margin-top: 0.5rem;
    }
}
